/* CSS/Header.css */
.header {
    background-color: var(--primary-color); /* Primary color */
    padding: 10px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 125px;
    border-radius: 0 0 25px 25px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 75px;
    padding-bottom: 50px;
}

.nav-link {
    color: #FFF6D7; /* Secondary color */
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family, 'Montserrat', sans-serif);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FBFCFF; /* Slightly lighter for hover effect */
}

.icon {
    font-size: 1.5rem;
}
