/* CSS/main.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #DE5C20;
    --secondary-color: #FFF6D7;
    --background-color: #FBFCFF;
    --font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}

/* CSS/Header.css */
.header {
    background-color: var(--primary-color); /* Primary color */
    padding: 10px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 125px;
    border-radius: 0 0 25px 25px;
}

.mainCon {
    min-height: 70vh;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 75px;
    padding-bottom: 50px;
}

.nav-link {
    color: #FFF6D7; /* Secondary color */
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family, 'Montserrat', sans-serif);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FBFCFF; /* Slightly lighter for hover effect */
}

.icon {
    font-size: 1.5rem;
}

.user-menu {
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 150%;
    right: 0;
    background-color: var(--background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.dropdown button {
    padding: 1rem 2rem;
    font-size:medium;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    color: var(--primary-color);
}

.dropdown button:hover {
    background-color: var(--secondary-color);
}


.footer-con {
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
    margin-top: -2vh;
    /* padding-top: 30px; */
    justify-self: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
